CONFIG_IDF_TARGET="esp32s3"
CONFIG_REMOTE_HID_WIFI_PMF_REQUIRED=n
CONFIG_FREERTOS_HZ=1000
CONFIG_TINYUSB_HID_COUNT=1
CONFIG_TINYUSB_CDC_ENABLED=n
CONFIG_TINYUSB_DEBUG_LEVEL=0
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_HTTPD_WS_PRE_HANDSHAKE_CB_SUPPORT=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
